html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 84px;
    font-weight: normal;
    margin: 0.5em;
}

.content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.record {
    float:left;
    width:30%;
    overflow:hidden;
    box-sizing: border-box;
    margin-bottom: 2em;
    text-align: left;
    font-size: small;
}
.record:nth-child(3n-1) {
    margin-left: 5%;
    margin-right: 5%;
}
.record:nth-child(3n+1){
    clear: left;
}
.record img {
    border: 1px solid #888;
    box-sizing: border-box;
}
.credit {
    display: block;
    font-weight: bold;
    font-size: small;
    margin-bottom: 0.5em;
}
.title {
    display: block;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.attr {
    display: block;
}

@media (max-width: 700px) {
    h1 {
        font-size: 24px;
    }
    .record {
        float: none !important;
        width: auto;
        border-bottom: 1px solid #888;
        padding-bottom: 1em;
        margin: 0 0 1em 0 !important;
    }
    .title {
        display: block;
        border-bottom: none;
        padding-bottom: 0em;
    }
    .credit {
        float: right;
    }
}